<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách yêu cầu xóa Tour - Admin</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('../../header', { pageTitle: ' ' }) %>
    <div class="container mt-5">
        <h2 class="mt-5">Danh sách yêu cầu xóa Tour</h2>
        <% if (formattedRequests.length === 0) { %>
            <div class="alert alert-warning">Không có yêu cầu xóa nào.</div>
        <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Tour</th>
                        <th>Partner</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <% formattedRequests.forEach(request => { %>
                        <tr>
                            <td><%= request.id %></td>
                            <td><%= request.title %></td>
                            <th><%= request.partnerName  %></th>
                            <td>
                                <form method="POST" action="/admin/tours/confirm-delete/<%= request.id %>">
                                    <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
        
          
    </div>
</body>
</html>
