<!-- views/tour/list.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table-responsive {
            overflow-x: auto;
        }

        td img, td video {
    max-height: 100px; /* Giới hạn chiều cao */
    overflow: hidden; /* Ẩn những gì không vừa */
}

    </style>
</head>
<body>
    <%- include('../header', { pageTitle: 'List Tour' }) %>
    <div class="table-responsive">
    <div class="container">
        <h1 class="mt-4">Tour List</h1>
        <a href="/tours/create" class="btn btn-primary mb-3">Create New Tour</a>
        <table class="table col-12 table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Location</th>
                    <th>Duration (in days)</th>
                    <th>Contact</th>
                    <th>Available Spots</th>
                    <th>Tour Type</th>
                    <th>Destination</th>
                    <th>Images</th>
                    <th>Videos</th>
                    <th>State</th>
                    <th>Schedule</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% tours.forEach(tour => { %>
                    <tr>
                        <td><%= tour.title %></td>
                        <td><%= tour.description %></td>
                        <td><%= tour.price %></td>
                        <td><%= tour.location %></td>
                        <td><%= tour.duration %></td>
                        <td><%= tour.contact %></td>
                        <td><%= tour.availableSpots %></td>
                        <td><%= tour.tourType ? tour.tourType.name : 'N/A' %></td>
                        <td><%= tour.destination ? tour.destination.name : 'N/A' %></td>
                        


                        <!--  -->
                        <td>
                            <% tour.images.forEach(image => { %>
                                <img src="<%= image %>" alt="Image" style="width: 100px; height: auto; margin: 5px;">
                            <% }) %>
                        </td>
                        <!--  -->
                        <td>
                            <% tour.videos.forEach(video => { %>
                                <video width="100" controls>
                                    <source src="<%= video %>" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            <% }) %>
                        </td>
                        <!--  -->
                        <td><%= tour.isDisabled %></td>
                        <!--  -->
                        <td> 
                             <a href="/schedules/tours/<%= tour._id %>/schedules" class="btn btn-primary">View Schedules</a>
                        </td>
                        <!--  -->
                        <td>
                           
                            <a href="/tours/edit/<%= tour._id %>" class="btn btn-warning mt-2 btn-sm"> Edit </a>
                            <a href="/tours/delete/<%= tour._id %>" class="btn btn-danger mt-2 btn-sm">Delete</a>
                           
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
